.container {
  margin-top: 30px;
  text-align: left;
}

#subject {
  font-size: 30px;
  line-height: 45px;
  color: #999;
  vertical-align: middle;
}

.messages {
  text-align: left;
  list-style: none;
  padding-right: 20px;
  padding-top: 20px;
}

.messages > li > span {
  font-size: 16px;
}

.messages > li > .date_message {
  width: 5rem;
  font-size: 12px;
  margin-left: -5.6rem;
  color:rgba(255,255,255,.6);
}

.messages > li > .username_message {
  color:#0ce3ac;
}

.messages > li > .text_message {
  word-break: normal;
}

.messages > li > .tmp {
  color:#a75454;
}

.system_message {
  color:#479495;
}

.userlist > li > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.userlist > li > span {
  margin-left: 10px;
}

.userlist {
  list-style: none;
}

.userlist > li {
  list-style: none;
  margin-bottom: 10px;
}

#chat_box {
  height: 350px;
  overflow-y: scroll;
}
